<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:webflow="http://www.springframework.org/schema/webflow-config"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/webflow-config
        http://www.springframework.org/schema/webflow-config/spring-webflow-config-2.0.xsd">

	
	<bean name="libraryService" class="com.xuyuan.spring3.recipes.webflow.service.LibraryServiceImpl" />
	<bean name="bookService" class="com.xuyuan.spring3.recipes.webflow.service.BookServiceImpl" />
    
    <!-- 7-4. Persisting Objects in Web Flows -->
    <!-- 
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"> 
        <property name="dataSource" ref="dataSource" /> 
        <property name="persistenceUnitName" value="library" />
        <property name="persistenceProvider" ref="persistenceProvider"/>
        <property name="jpaDialect" ref="jpaDialect"/>
        <property name="jpaVendorAdapter"> 
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"> 
                <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" /> 
                <property name="showSql" value="true" /> 
                <property name="generateDdl" value="true" /> 
            </bean> 
        </property> 
    </bean> 
    <bean id="persistenceProvider" class="org.hibernate.ejb.HibernatePersistence"/>
    <bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/>
    
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"> 
        <property name="dataSource" ref="dataSource" /> 
        <property name="persistenceUnitName" value="library" />
    </bean>
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"> 
        <property name="entityManagerFactory" ref="entityManagerFactory" /> 
    </bean>
    -->
    
    <webflow:flow-builder-services id="flowBuilderServices" development="true" view-factory-creator="flowResourceFlowViewResolver"/>

    <bean id="flowResourceFlowViewResolver" class="org.springframework.webflow.mvc.builder.MvcViewFactoryCreator">
        <property name="useSpringBeanBinding" value="true"/>
    </bean>

    <webflow:flow-executor id="flowExecutor">
        <webflow:flow-execution-listeners>
	        <webflow:listener ref="securityFlowExecutionListener"/>
            <!-- <webflow:listener ref="jpaFlowExecutionListener"/>  -->
        </webflow:flow-execution-listeners>
    </webflow:flow-executor>

    <webflow:flow-registry flow-builder-services="flowBuilderServices" id="flowRegistry" base-path="/WEB-INF/flows/">
        <webflow:flow-location path="/welcome.xml"/>
        <webflow:flow-location path="/bookSearch.xml"/>
        <!--
        <webflow:flow-location path="/bookDetails.xml"/>
        -->
        <webflow:flow-location path="/borrowBook.xml"/>
    </webflow:flow-registry>

    <bean class="org.springframework.webflow.mvc.servlet.FlowHandlerAdapter">
        <property name="flowExecutor" ref="flowExecutor"/>
    </bean>

    <bean class="org.springframework.webflow.mvc.servlet.FlowHandlerMapping">
        <property name="flowRegistry" ref="flowRegistry"/>
        <property name="order" value="0"/>
    </bean>

    <!--  listeners  -->
	<bean id="securityFlowExecutionListener" class="org.springframework.webflow.security.SecurityFlowExecutionListener"/>
    <!-- 
    <bean id="jpaFlowExecutionListener" class="org.springframework.webflow.persistence.JpaFlowExecutionListener">
        <constructor-arg ref="entityManagerFactory"/>
        <constructor-arg ref="transactionManager"/>
    </bean>
 	-->
 
	<!-- 7-2. Modeling Web Flows with Different State Types: Defining View States  -->	
    <!--  actions -->
    <bean id="bookCriteriaAction" class="org.springframework.webflow.action.FormAction">
        <property name="formObjectClass" value="com.xuyuan.spring3.recipes.webflow.domain.BookCriteria"/>
        <property name="propertyEditorRegistrar">
            <bean class="com.xuyuan.spring3.recipes.webflow.web.PropertyEditors"/>
        </property>
    </bean>

    <bean id="borrowBookAction" class="org.springframework.webflow.action.FormAction">
        <property name="formObjectClass" value="com.xuyuan.spring3.recipes.webflow.domain.BorrowingRecord"/>
        <property name="propertyEditorRegistrar">
            <bean class="com.xuyuan.spring3.recipes.webflow.web.PropertyEditors"/>
        </property>
    </bean>
</beans>
